.genres {
  text-wrap: wrap;
  padding: 25px;
  margin-left: 5px;
}

.genresButtons {
  text-wrap: wrap;
  padding: 10px;
  margin-left: 5px;
}
img {
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
}
.anime {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
