.genres {
  text-align: center;
  padding: 25px;
  margin-left: 5px;
}

.genresButtons {
  text-wrap: center;
  color: #0598f3;
  padding: 10px;
  margin: 30px;
  border-radius: 15px;
}
img {
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
}
.anime {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.pageTitles {
  text-align: center;
  margin-left: 5px;
  text-decoration: underline;
  font-weight: bolder;
}

.user {
  text-align: center;
  margin-left: 5px;
}

.avatar {
  margin-left: 65px;
}
