img {
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
}
.description {
  padding: 15px;
  margin-left: 5px;
}
.detailBtn {
  text-wrap: wrap;
  padding: 5px;
  margin: 5px;
  margin-left: 5px;
}
