.details {
  text-align: center;
  max-width: 1000px;
  max-height: 900px;
  padding: 5px;
  margin-left: 15%;
  background-color: #f6c1f1;
}
.description {
  text-wrap: wrap;

  padding: 15px;
  background-color: #f6c1f1;
}
.detailBtn {
  text-wrap: wrap;
  padding: 20px;
  margin: 30px;
}

.p-image-preview {
  height: 700px;
  width: 700px;
  text-align: center;
}
